*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes pisca{
    0%
    {
        opacity: 0.2;
    }
    50%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0.2;
    }
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.urna{
    background-color: #dbd5c9;
    padding: 30px;
    border: 1px solid #111;
    display: flex;
    margin-top: 10%;
    border-radius: 6px;
}

.tela{
    width: 500px;
    height: 320px;
    background: linear-gradient(to right, #E8E8E8, #C1C1C1);
    border: 2px solid #555;
    display: flex;
    flex-direction: column;
}

.teclado{
    margin-left: 30px;
    background-color: #403A3A;
}

.teclado-linha{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.teclado-botao{
    width: 80px;
    height: 40px;
    background-color: #000;
    color: #fff;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 0 #555;
}

.btn-branco{
    background-color: #fff;
    color: #000;
    font-size: 15px;
    font-weight: bold;
}

.btn-corrige{
    background-color: #F09046;
    color: #000;
    font-size: 15px;
    font-weight: bold;
}

.btn-confirma{
    background-color: #48C079;
    color: #000;
    font-size: 15px;
    width: 90px;
    height: 45px;
    font-weight: bold;
}

.scr-1{
    flex: 1;
    display: flex;
}

.scr-2{
    height: 50px;
    font-size: 14px;
    border-top: 2px solid #000;
    padding-left: 10px;
}

.info{
    flex: 1 ;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.info-1{
    height: 50px;
    display: flex;
    align-items: center;
}

.info-2{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.info-voto{
    height: 50px;
}

.numero{
    display: inline-block;
    width: 30px;
    height: 40px;
    border: 1px solid #000;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    font-weight: bold;
}

.pisca{
    animation: pisca 0.8s infinite;
}

.info-dados{
    flex: 1;
    line-height: 30px;
}

.foto{
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.image{
    border: 1px solid #000;
    background-color: #fff;
    text-align: center;
    font-size: 14px;
}

.image.small{
    width: 80%;
    font-size: 12px;
}

.image img{
    width: 100%;
}

.aviso-grande{
    font-size: 40px;
    font-weight: bold;
    padding: 20px 30px;
}
